.rewards-duallistbox{
	border: 3px solid dodgerblue;

	display: flex;
	flex-direction: row;

}

.rewards-controls{
	display: flex;
	flex-direction: column;
	justify-content: center;

	padding: 0 3em;
}

.rewards-singlelist{
	border: 3px solid red;

	width: 15em;
	text-align: center;
	height:30em;

	flex: 1 1 auto;

	display: flex;
	flex-direction: column;
}

.rewards-title{
	border: 3px solid orange;
}

.rewards-select{
	border: 3px solid green;
	width:100%;
	text-align: center;
	flex: 1 1 auto;
}
