.rewards-container{
	border: 2px solid red;

	width: 15em;
	text-align: center;
	height:30em;
	display: flex;
	flex-direction: column;
}

.rewards-title{
	border: 2px solid orange;
}

.rewards-list{
	border: 2px solid yellow;
	width:100%;
	text-align: center;
	flex: 1 1 auto;
}
